<div class="alert alert-success" role="alert">
    <h1>Editando...</h1>
</div>


<%= render 'form', my_planet: @my_planet %>

<%= link_to 'Show', @my_planet %> |
<%= link_to 'Back', my_planets_path %>
