<div class="panel panel-success">
    <div class="panel-heading">
        <h1 align="center">Planetas del Sistema Solar</h1>
    </div>
    <div class="panel-body">
        <marquee><h3>Ingresa un nuevo planeta a nuestro listado</h3></marquee>
    </div>
</div>

<%= render 'form', my_planet: @my_planet %>

<%= link_to 'Back', my_planets_path %>
