<div class="panel panel-danger">
<div class="panel-heading">
    <h1 align="center">Estrellas del Universo</h1>
</div>
<div class="panel-body">
    <marquee><h3>Ingresa una nueva Estrella</h3></marquee>
</div>
</div>

<%= render 'form', star: @star %>

<%= link_to 'Back', stars_path %>