<p id="notice"><%= notice %></p>

<div class="alert alert-primary" role="alert">
  <marquee><h1 align="center">Conoce de Astronomia</h1></marquee>
</div>




<br>

<%= link_to 'New Welcome', new_welcome_path %>
