<div class="panel panel-warning">
    <div class="panel-heading">
        <h1 align="center">Galaxias del Universo</h1>
    </div>
    <div class="panel-body">
        <marquee><h3>Ingresa una nueva galaxia a nuestro listado</h3></marquee>
    </div>
</div>

<%= render 'form', galaxy: @galaxy %>

<%= link_to 'Back', galaxies_path %>


